---
	const PROJECTS = [
		{
			icon: "../../assets/images/logo-512x512.png",
			name: "Phone-Directory-React",
			body: "A college project of React based Phone Directory Application.",
			href: "//stately-boba-258c57.netlify.app/"
		},
		{
			icon: "../../assets/images/products/micro-projects/tic-tac-toe.png",
			name: "Tic Tac Toe",
			body: "Tired of daily work? Play some Tic Tac Toe with a friend.",
			href: "/micro-projects/tictactoe"
		},
		{
			icon: "../../assets/images/products/micro-projects/calculator.png",
			name: "Calculator",
			body: "Calculate any thing with advance calculator.",
			href: "/micro-projects/calculator"
		},
		// {
		// 	icon: "../../assets/images/products/micro-projects/admin-dashboard.png",
		// 	name: "Admin Dashboard",
		// 	body: "Manage your website with the admin dashboard. (Prototype only).<br><br>Not working right now.",
		// 	href: "/micro-projects/admin-dashboard"
		// },
		// {
		// 	icon: "../../assets/images/products/micro-projects/index-01.png",
		// 	name: "Intro Page - 1",
		// 	body: "A new gradient style index page for more stylish.<br>Not working right now.<br><br>Not working right now.",
		// 	href: "/micro-projects/index-01"
		// },
		// {
		// 	icon: "../../assets/images/products/micro-projects/index-02.png",
		// 	name: "Intro Page - 2",
		// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
		// 	href: "/micro-projects/index-02"
		// },
		// {
		// 	icon: "../../assets/images/products/micro-projects/index-03.png",
		// 	name: "Intro Page - 3",
		// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
		// 	href: "/micro-projects/index-01"
		// },
		// {
		// 	icon: "../../assets/images/products/micro-projects/index-04.png",
		// 	name: "Intro Page - 4",
		// 	body: "A new gradient style index page for more stylish.<br>Not working right now.<br><br>Not working right now.",
		// 	href: "/micro-projects/index-01"
		// },
		// {
		// 	icon: "../../assets/images/products/micro-projects/index-05.png",
		// 	name: "Intro Page - 5",
		// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
		// 	href: "/micro-projects/index-02"
		// },
	];
	const generate = () => '' + Math.floor(Math.random() * 9);
---
<div class="cards">
	{PROJECTS.map(project => (
		<a href={project.href} target="_blank" class="pjs-card">
			<div class="pjs-logo">
				<img src={project.icon} alt={project.name} class="pjs-icon">
			</div>
			<div class="pjs-data" color={generate()}>
				<div class="pjs-name" set:html={project.name}></div>
				<div class="pjs-body" set:html={project.body}></div>
			</div>
		</a>
	))}
</div>
<div class="center-content with-margin-4">
	{false && <div class="center-content with-margin-1" style="color: red; font-size: 14px">Working issues: These file were made using PHP and cannot run without an apache server.</div>}
	<div class="center-content with-margin-1" style="font-size: 14px">Copyright warning: All this pages were designed by me. Some ideas from other websites were taken.</div>
</div>
<style>
	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px;
	}
	.pjs-card {
		display: flex;
		flex: 1;
		min-width: 300px;
		max-width: 400px;
		flex-direction: column;
		background: #fff;
		box-shadow: 0 0 0 1px #ddd, 2px 2px 3px 0 #7773;
		border-radius: 10px;
		margin: 10px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.pjs-logo {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		height: 100%;
		overflow: hidden
	}
	.pjs-icon {
		min-width: 100%;
		min-height: 100%;
		transition: .4s;
	}
	.pjs-data {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		transition: background .4s, opacity .4s;
		padding: 20px;
		justify-content: center;
		color: #fff;
		opacity: 0;
	}
	.pjs-card:hover .pjs-data {
		opacity: 1;
	}
	.pjs-name {
		font-size: 1.3em;
		font-weight: 600;
		padding: 10px 0;
	}
	.pjs-body {
		font-size: .8em;
		padding: 10px 0;
	}
	.pjs-card:hover .pjs-data[color=0] {
		background: #371B58;
	}
	.pjs-card:hover .pjs-data[color=1] {
		background: #570A57;
	}
	.pjs-card:hover .pjs-data[color=2] {
		background: #1A1A40;
	}
	.pjs-card:hover .pjs-data[color=3] {
		background: #1A1A40;
	}
	.pjs-card:hover .pjs-data[color=4] {
		background: #420516;
	}
	.pjs-card:hover .pjs-data[color=5] {
		background: #1E5128;
	}
	.pjs-card:hover .pjs-data[color=6] {
		background: #082032;
	}
	.pjs-card:hover .pjs-data[color=7] {
		background: #9C3D54;
	}
	.pjs-card:hover .pjs-data[color=8] {
		background: #03506F;
	}
	.pjs-card:hover .pjs-data[color=9] {
		background: #230338;
	}
	.pjs-card:hover .pjs-icon {
		transform: scale(1.3);
		opacity: 0;
	}
</style>