---
	const PROJECTS = [
		{
			icon: "../../assets/images/products/projects/todo.png",
			name: "To do - Tasks",
			body: "Create your daily to-dos and view them across the internet. This is currently mobile based.",
			href: "https://lite.private.myoasis.tech"
		},
		{
			icon: "../../assets/images/products/projects/private-lite.png",
			name: "Private note - Lite",
			body: "Create a private note and share it links to anyone for viewing.",
			href: "https://lite.private.myoasis.tech"
		},
		{
			icon: "../../assets/images/products/projects/lists.png",
			name: "To do - Lists",
			body: "Create a list of to dos to manage your tasks more efficiently.",
			href: "https://lists.myoasis.tech"
		},
		{
			icon: "../../assets/images/products/projects/directory.png",
			name: "Phone Directory 2",
			body: "Manage a lists of customer contact details with more options.",
			href: "https://router.directory.myoasis.tech"
		},
		{
			icon: "../../assets/images/products/projects/directory.png",
			name: "Phone Directory",
			body: "Manage a lists of customer contact details.",
			href: "https://directory.myoasis.tech"
		},
		{
			icon: "../../assets/images/products/projects/tic-tac-toe.png",
			name: "Tic Tac Toe",
			body: "Tired of daily work? Play some Tic Tac Toe with a friend.",
			href: "/projects/tictactoe"
		},
		{
			icon: "../../assets/images/products/projects/calculator.png",
			name: "Calculator",
			body: "Calculate any thing with advance calculator.",
			href: "/projects/calculator"
		},
	];
	const generate = () => '' + Math.floor(Math.random() * 9);
---
<div class="cards">
	{PROJECTS.map(project => (
		<a href={project.href} class="pjs-card" target="_blank">
			<div class="pjs-logo">
				<img src={project.icon} alt={project.name} class="pjs-icon">
			</div>
			<div class="pjs-data" color={generate()}>
				<div class="pjs-name">{project.name}</div>
				<div class="pjs-body">{project.body}</div>
			</div>
		</a>
	))}
</div>
<div class="center-content with-margin-4">
	<div class="center-content with-margin-1" style="font-size: 14px">Copyright warning: All this pages were designed by me. Some ideas from other websites were taken.</div>
	<div class="center-content with-margin-1">Look for more stuff.</div>
	<a href="/micro-projects" class="button-classic"><i class="far fa-microchip"> &nbsp; </i> Explore Micro Projects</a>
	<a href="/startup" class="button-classic"><i class="far fa-radar"> &nbsp; </i> Plan a startup</a>
</div>
<style>
	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px;
	}
	.pjs-card {
		display: flex;
		flex: 1;
		min-width: 300px;
		max-width: 400px;
		flex-direction: column;
		background: #fff;
		box-shadow: 0 0 0 1px #ddd, 2px 2px 3px 0 #7773;
		border-radius: 10px;
		margin: 10px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.pjs-logo {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		height: 100%;
		overflow: hidden
	}
	.pjs-icon {
		min-width: 100%;
		min-height: 100%;
		transition: .4s;
	}
	.pjs-data {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		transition: background .4s, opacity .4s;
		padding: 20px;
		justify-content: center;
		color: #fff;
		opacity: 0;
	}
	.pjs-card:hover .pjs-data {
		opacity: 1;
	}
	.pjs-name {
		font-size: 1.3em;
		font-weight: 600;
		padding: 10px 0;
	}
	.pjs-body {
		font-size: .8em;
		padding: 10px 0;
	}
	.pjs-card:hover .pjs-data[color=0] {
		background: #371B58;
	}
	.pjs-card:hover .pjs-data[color=1] {
		background: #570A57;
	}
	.pjs-card:hover .pjs-data[color=2] {
		background: #1A1A40;
	}
	.pjs-card:hover .pjs-data[color=3] {
		background: #1A1A40;
	}
	.pjs-card:hover .pjs-data[color=4] {
		background: #420516;
	}
	.pjs-card:hover .pjs-data[color=5] {
		background: #1E5128;
	}
	.pjs-card:hover .pjs-data[color=6] {
		background: #082032;
	}
	.pjs-card:hover .pjs-data[color=7] {
		background: #9C3D54;
	}
	.pjs-card:hover .pjs-data[color=8] {
		background: #03506F;
	}
	.pjs-card:hover .pjs-data[color=9] {
		background: #230338;
	}
	.pjs-card:hover .pjs-icon {
		transform: scale(1.3);
		opacity: 0;
	}
</style>